.App{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.links{
display: flex;
gap: 1rem;
}
button{
background-color: teal;
color: white;
height: 30px;
width: 90px;
border-radius: 15px;  
}



